* {
  overflow-x: hidden;
  margin:0px;
}

body{
  background:rgb(63, 178, 147);
}

.button, .menu {
  position: absolute;
  transition: all 0.5s ease-in-out;
}

#check {
  display:none;
}
.button {
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  background: #303030;
  cursor: pointer;
}

.button .top {
    position: absolute;
    top: 14px;
    left: 10px;
    content: '';
    width: 30px;
    height: 3.5px;
    background: white;
    transition: .5s;
  }
.button .mid {
    position: absolute;
    top: 22px;
    left: 10px;
    content: '';
    width: 30px;
    height: 3.5px;
    background: white;
    transition: .7s;
  }
.button .bot {
    position: absolute;
    top: 30px;
    left: 10px;
    content: '';
    width: 30px;
    height: 3.5px;
    background: white;
    transition: .5s;
  }

.menu {
  margin:auto;
  top: 50px;
  right: -10px;
  width: 150px;
  height: 194px;
  background: #101010;
  opacity:0;
}

.menu a {
  text-decoration:none;
  color: white;
  display: block;
  padding: 15px;
  opacity:0;
  transform: translatex(20px);
  transition:1s;
}

#check:checked ~ .menu a:hover {
  background: #505050;
  transition-delay: 0s;
  transition-duration: 0s;
  transition:0s;
}

#check:checked ~ .menu{
  opacity:1;
  transform: translatex(-10px);
}

#check:checked ~ .menu a{
  opacity:1;
  transform: translatex(0px)
}

#check:checked ~ .fondo {
  background: #101010;
  opacity: .6;
  height:100vh;
  transition:1s;
}

#check:checked ~ .menu a:nth-child(1) {
  transition-delay:.25s;
}

#check:checked ~ .menu a:nth-child(2) {
  transition-delay:.5s;
}

#check:checked ~ .menu a:nth-child(3) {
  transition-delay:.75s;
}

#check:checked ~ .menu a:nth-child(4) {
  transition-delay:1s;
}

#check:checked ~ .button .top {
    top: 22px;
    transform: rotate(45deg);
    transition:.5s;
  }
#check:checked ~ .button .mid {
    opacity:0;
    transition:.5s;
  }
#check:checked ~ .button .bot {
    top: 22px;
    transform: rotate(-45deg);
    transition:.5s;
  }